*{
    margin: 0;
    box-sizing: border-box;
}
p::first-letter{
    font-size: 2.5em;
    color: red;
}
header{
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgba(163, 163, 163, 0.811);
    height: 15vh;
}
#menu{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 5%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}
a:active{
    color: red;
    font-size: 1.40em;
}

footer{
    color: white;
    text-align: center;
    background-color: rgba(163, 163, 163, 0.811);
    height: 15vh;
    padding: 5px;
}
#mensagem{
    height: 20vh;
    font-size: large;
    width: 100%;
}
#nome{
    font-size: large;
    width: 100%;
}
#email{
    font-size: large;
    width: 100%;
}
#destaques{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contato{
    width: 40%;
    padding: 5%;
    text-align: center;
    font-size: larger;
    background-color:rgba(163, 163, 163, 0.811) ;
    color: white;
    border-radius: 10%;
    border-color: black;
}
#destaquetexto{
    grid-column: 1 / 4;
    grid-row: 1;
    font-size: 30px;
    padding: 30px;
}
#submit{
    width: 100%;
    font-size: larger;
    border-radius: 5%;
    background-color: white ;
    box-shadow: 5%;
}
.dark-mode{
    background-color: black;
    color: white;
}

@media (max-width: 950px){
    #contato{
        width: 90%;
        padding: 5%;
        text-align: center;
        font-size: larger;
        background-color:rgba(163, 163, 163, 0.811) ;
        color: white;
        border-radius: 10%;
        border-color: black;
    }
}