*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
p::first-letter{
    font-size: 2.5em;
    color: red;
}
header{
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgba(163, 163, 163, 0.811);
    height: 15vh;
}
#menu{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}
a:active{
    color: red;
    font-size: 1.40em;
}
#destaques{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    gap: 10px;
    padding: 5%;
}
#destaquetexto{
    grid-column: 1 / 4;
    grid-row: 1;
    font-size: 30px;
    padding: 30px;
}
#musica1{
    grid-column: 1;
    grid-row: 2;
    padding: 5%;
    transition: transform 0.3s ease;
}
#musica1:hover{
    transform: scale(1.2);
}
#musica1>p{
    text-align: justify;
    padding: 5%;
}
#musica2{
    grid-column: 2;
    grid-row: 2;
    padding: 5%;
    transition: transform 0.3s ease;
}
#musica2>p{
    text-align: justify;
    padding: 5%;
}
#musica2:hover{
    transform: scale(1.2);
}
#musica3{
    grid-column: 3;
    grid-row: 2;
    padding: 5%;
    transition: transform 0.3s ease;
}
#musica3>p{
    text-align: justify;
    padding: 5%;
}
#musica3:hover{
    transform: scale(1.2);
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
footer{
    color: white;
    text-align: center;
    background-color: rgba(163, 163, 163, 0.811);
    height: 15vh;
    padding: 5px;
}
#compositores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    text-align: justify;
    gap: 7%;
    padding: 5%;
    padding-bottom: 10%;
    padding-top: 0%;
}
#compositorestexto{
    font-size: 30px;
    text-align: center;
    grid-column: 1/ 4;
    grid-row: 1;
}
span{
    font-size: smaller;
}
#quemsomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 10%;
    padding: 10%;
}
#comofunciona{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 10%;
    padding: 10%;
}
.dark-mode{
    background-color: black;
    color: white;
}
@media (max-width: 550px){
    #destaques{
        display: flex;
        flex-direction: column;
   
    }
    #compositores{
        display: flex;
        flex-direction: column;
   
    }
}
p>a{
    font-size: 0.8em;
    color:rgba(163, 163, 163, 0.811);
}